<button class="button" (click)="openModal('notes-add-model')">Add Note</button>

<!----Need to refactor the model driven form--->
<jw-modal id="notes-add-model" class="notes-add-modal-layout">
  <h2>ADD NOTE</h2>
  <i class="error-warning" *ngIf="showErrorWarning">Error while Submitting form</i>
  <form class="notes-add-form">
    <label for="title" class="note-tile"><strong>Title</strong></label>
    <input id="title" name="title" type="text" [(ngModel)]="title" minlength="1" maxlength="50">

    <label for="description" class="note-description"><strong>Description</strong></label>
    <textarea id="description" name="description" [(ngModel)]="description" minlength="1" maxlength="200"></textarea>

    <label><strong>Tags</strong></label>
    <ul class="notes-add-tags-checkbox">
      <li *ngFor="let tag of tags ; trackBy: trackByFn" class="node-tags">
        <input #checkboxes type="checkbox" (change)="onCheckBoxChange(tag)">{{tag.name}}
      </li>
    </ul>
  </form>
  <div class="button-right">
    <button class="button" (click)="closeModal('notes-add-model')">Cancel</button>
    <button class="button" type="submit" (click)="createNote()">Add</button>
  </div>
</jw-modal>

<div *ngFor="let note of notes; trackBy:trackByNoteId" class="note-body">
  <div class="note-header">
    <h3 class="note-title">{{note.title}}</h3>
    <h5 class="note-time-stamp"><i>Created :
      <time>{{note.created_at | date:'h:mm a YYYY/MM/dd'}}</time>
    </i>
    </h5>
  </div>
  <div class="note-description">
    <p>{{note.description}}</p>
  </div>
  <div class="note-tags">
    <ul>
      <li *ngFor="let tag of note.tagsArray"><span>{{tag}}</span></li>
    </ul>
  </div>
  <hr/>
</div>
