.button {
  background-color: white;
  color: black;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

// note body
.note-body {
  margin: 0 auto;
}

.note-header {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.note-title {
  color: #333;
}

.note-time-stamp {
  color: lighten(#808080, 20%);
}

.note-description p{
  margin: 0;
}

// note tag css
.note-tags {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
  }

   li + li {
    margin-left: .5rem;
  }

   li {
    border: 1px solid lighten(#333, 40%);
    border-radius: 3px;
    color: lighten(#333, 40%);
    background: lighten(#808080, 40%);
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
  }
}

// notes add modal css
#notes-add-model{
  width: 50rem;
}

.button-right {
  display: flex;
  justify-content: right;
}

@media (max-width: 400px) {
  .button-right {
    display: block;
  }
}

// notes add modal form css

form {
  display: grid;
  max-width: 600px;
  margin-bottom: 0.5rem;
}
form input {
  background: #fff;
  border: 1px solid #9c9c9c;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
}

input {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid gold;
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: left;
    grid-column: 1 / 2;
  }

  input{
    grid-column: 2 / 3;
  }
}

.notes-add-tags-checkbox {
  border: 1px solid;
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  max-width: 10rem;
}

.error-warning {
  color:red;
}

